POSTGRES_HOST_PORT=5433
MOUHER_POSTGRES_ADMIN_PASSWORD=change-this-local-admin-password
MOUHER_BACKEND_DB_PASSWORD=change-this-local-backend-password
MOUHER_MEDUSA_DB_PASSWORD=change-this-local-medusa-password
MOUHER_PAYMENT_DB_PASSWORD=change-this-local-payment-password
CLOUDBEAVER_ADMIN_USER=pmembari
CLOUDBEAVER_ADMIN_PASSWORD=change-this-local-ui-password
