<app-admin-page-frame [breadcrumbItems]="breadcrumbItems()">
    <section class="flex flex-col gap-4">
        <p-tabs [value]="activeTab()" class="hk-admin-tabs">
            <p-tablist>
                @for (tab of tabs(); track tab.route) {
                <p-tab [value]="tab.route" [routerLink]="tab.link">
                    <span class="hk-admin-tab-label" [class.hk-admin-tab-label--danger]="tab.danger">
                        @if (tab.icon) {
                        <i [class]="tab.icon" aria-hidden="true"></i>
                        }
                        <span>{{ tab.label }}</span>
                        @if (tab.badge) {
                        <span class="hk-admin-tab-badge">{{ tab.badge }}</span>
                        }
                    </span>
                </p-tab>
                }
            </p-tablist>
        </p-tabs>

        <router-outlet />
    </section>
</app-admin-page-frame>
